<!DOCTYPE html>
<html>
  <head>
    <title>Collection Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <section class="shorter-section"></section>
    <section class="standard-section d-flex justify-content-center align-items-center">
        <div class="form-box">
            <%= form_with(model: @collection, local: true) do |form| %>
                <h1 class="p-2">Create Your Collection</h1>
                <div class="form-table">
                    <div class="form-group">
                        <%= form.text_field :name, class: 'form-control', placeholder: "Title your collection."%>
                    </div>
                    <div class="form-group">
                        <%= form.text_area :description, class: 'form-control', placeholder: "Describe your collection here..."%>
                    </div>
                    <div class="form-group">
                        <%= form.file_field :image, class: 'form-control'%>
                    </div>
                    <div class="form-group">
                        <%= form.submit "Add", class: "btn btn-success m-2" %>
                        <%= link_to 'Back', collections_path, class: 'btn btn-secondary' %>
                    </div>
                </div>
            <% end %>
        </div>
    </section>
    <section class="shorter-section"></section>
  </body>
</html>
