<!DOCTYPE HTML>
<html>
<head>
    <!-- Scripts -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <section class="shorter-section"></section>
    <section class="long-section">
      <h1 class="custom-title"><%= @collection.name %></h1>
        <div class="container form-container">
            <div class="row p-2">
                <div class="col-md-12">
                    <p class="mt-4">
                        <strong>Description:</strong>
                        <%= @collection.description %>
                    </p>
                    <p>
                        <strong>Image:</strong>
                        <% if @collection.image_url.present? %>
                            <%= image_tag @collection.image_url, class: "collection-image" %>
                        <% else %>
                            No Image
                        <% end %>
                    </p>
                    <div class="form-group">
                        <%= link_to 'Edit', edit_collection_path(@collection), class: "btn btn-primary mr-2"%>
                        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shorter-section"></section>
</body>
</html>
