<!DOCTYPE HTML>
<html>
	<head>
		<title>Collection Managaer</title>
		<!-- Scripts -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	</head>
	
	<body class="is-preload">

		<!-- Nav -->
			<nav id="nav">
				<ul class="container">
					<li><a href="<%= root_path %>">Home</a></li>
					<li><a href="<%= signup_path %>">Explore</a></li>
					<li><a href="<%= signup_path %>">Search</a></li>
					<li><a href="<%= signup_path %>">Login</a></li>
					<li><a href="<%= signup_path %>">Don't have an account?</a></li>
				</ul>
			</nav>
	</body>
</html>