<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Link to your compiled CSS file -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <section class="standard-section">
      <div class="container">
        <input type="checkbox" id="check">
        <div class="form">
          <header>Login</header>
          <%= form_with(url: login_path) do |form| %>
            <%= form.email_field :email, placeholder: "Enter your email" %>
            <%= form.password_field :password, placeholder: "Create a password" %>
            <%= form.submit "Log In", class: "login-button" %>
          <% end %>
          <div style="text-align: center;"> 
            Don't have an account?<a href="/signup"> Sign Up </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
